/*----------------------------------------------------------------------------------------------------------------*\
    CONTROLS
\*----------------------------------------------------------------------------------------------------------------*/
.mainControls {
	border: 1px solid #ccc;
	padding: 5px;
	
	background: #f5f5f5;
	
	font-size: 0.85em;
	color: #333;
	
	cursor: pointer;
	
	position: absolute;
	top: 0;
	leftl: 0;
	
	z-index: 1;
}

.mainControls .hasDropdown {
    position: relative;
}

.mainControls .dropdown {
	border: 1px solid #ccc;
    padding: 5px;
	display: none;
	
	background: #f5f5f5;
	
	white-space: nowrap;
	
	position: absolute;
	left: 100%;
	top: 0;
}

.mainControls .dropdownToggle:hover + .dropdown,
.mainControls .dropdown:hover {
	display: block;
}





/*----------------------------------------------------------------------------------------------------------------*\
    PAGE CONTAINERS
\*----------------------------------------------------------------------------------------------------------------*/
.content {
    max-width: 980px;
}

.row {
	min-height: 2em;
	
	background: #fff;
}

.row [class*="column-"] {
	padding: 1em;
	border: 1px solid #ccc;
    margin-bottom: 1em;
    
    background: #fff;
    
    text-align: left;
}

.hover {
    background: #DCEEF7 !important;
}

.selected {
    background: #B9DAEB !important;
}





/*----------------------------------------------------------------------------------------------------------------*\
    DEFAULT TEXT
\*----------------------------------------------------------------------------------------------------------------*/
ul {
	list-style: none;
}

label {
	font-weight: bold;
}

ul.list {
	margin-left: 20px;
	list-style: disc;
}





/*----------------------------------------------------------------------------------------------------------------*\
    NAV
\*----------------------------------------------------------------------------------------------------------------*/
.nav {
	text-align: center;
}

.nav li {
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
}